{% extends 'layout/main.twig' %}

{% block main %}  
  <div class="container snap-child">
    <h1>{{ post.post_title }}</h1>
    <div class="post-content">
      {{ post.post_content|raw }}
    </div>
  </div>
{% endblock %}
