body {
  width: 100vw;
  height: 100vh;

  &.modal-nav-is-visible {
    overflow: hidden;
  }
}

.img-full {
  display: block;
  width: 100%;
  height: auto;
}

.scroll-snap-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  .snap-child {
    scroll-snap-align: start;
    padding: 130px 0;
  }

  .snap-child-no-margin {
    scroll-snap-align: start;
  }
}

.section-full-height {
  min-height: calc(100vh - 130px);
  display: flex;

  > .section-container {
    margin: auto 0;
    width: 100%;
  }
}

.structure-card {
  padding: 1.5em;
  margin-bottom: 3em;
  background: transparentize($blue, 0.6);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

.data-table {
  display: flex;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }

  .data-table-col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding-right: 2em;
    margin-bottom: 2em;
  }
}

.full-width-video {
  position: relative;
  width: 100%;
  height: 30vw;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1px;
    background: linear-gradient(to top, transparentize($body-bg, 0),  transparentize($body-bg, 1));
  }
}

.blog-frame {
  border: 2px solid white;
  padding: 0 2em 1em;

  .blog-frame-title {
    transform: translateY(-50%);
    background: $body-bg;
    display: inline-block;
    padding: 0 0.25em;
    margin-left: -0.25em;
  }
}

.fifty-filigrane {
  position: relative;
  
  &:after {
    content: '50';
    position: absolute;
    right: 0;
    bottom: 0;
    color: transparentize(theme-color("primary"), 0.9);
    pointer-events: none;
    font-size: 15em;
    font-family: $headings-font-family;
    z-index: 0;
    transform: translateY(30%);
  }
}