body {
  width: 100vw;
  height: 100vh;

  &.modal-nav-is-visible {
    overflow: hidden;
  }
}

.img-full {
  display: block;
  width: 100%;
  height: auto;
}

.scroll-snap-container {
  overflow-y: scroll;
  scroll-snap-type: y proximity;

  .snap-child {
    scroll-snap-align: start;
    padding: 130px 0;
  }
}

.section-full-height {
  min-height: 100vh;
  display: flex;

  > .section-container {
    margin: auto 0;
  }
}

.structure-card {
  padding: 1.5em;
  margin-bottom: 3em;
  background: transparentize($blue, 0.6);
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}