@import "../../../node_modules/sass-burger/burger";

.site-header {
  position: sticky;
  top: 0;
  padding: 1em 0;
  background: linear-gradient(to bottom, $body-bg 50%, transparentize($body-bg, 1));
  z-index: 9999;

  h1 {
    font-size: $font-size-base;
    // padding: 1em 0;
  }

  .logo {
    max-width: 200px;;
  }
}

.toggle-navigation {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  margin: 2.5em ($grid-gutter-width / 2) 1em;
  color: $white;

  .burger-icon {
    @include burger(25px, 3px, 5px, $white);
  }

  .modal-nav-is-visible & .burger-icon  {
    @include burger-to-cross;
  }
}

.site-navigation {
  @include media-breakpoint-down(sm) {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: transparentize($body-bg, 0.1);
    z-index: 9999;
    transition: opacity 0.3s, transform 0s 0.3s;
    transform: translate(-100%);

    .modal-nav-is-visible & {
      opacity: 1;
      transform: translate(0);
      transition: opacity 0.3s, transform 0s;
    }

    ul {
      margin: auto;
      list-style: none;
      padding: 0;
      text-align: center;

      li {
        margin: 0;
        padding: 0;

        a {
          color: $white;
          font-size: 1.5em;
          line-height: 1.8;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        margin: 0;
        padding: 0;
  
        a {
          padding: 1em 1em;
          color: $white;
          font-family: $headings-font-family;
        }
  
        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  
}
