.history-slider {
  position: relative;
  min-height: 10em;
  
  .history-slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s linear;

    &.active {
      opacity: 1;
      z-index: 10;
    }
  }
}

.history-slider-select {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  a {
    display: block;
    position: relative;
    margin: 0.5em 4em 0.5em 1em;
    padding: 0 1em 0 0;
    text-decoration: none;
    transition: color 0.3s ease;
    
    span {
      position: relative;
      z-index: 10;
    }

    &.active {
      color: $white;
      
      &:after {
        width: 12em;
      }
    }

    &:after {
      content: '';
      position: absolute;
      width: 4em;
      height: 100%;
      background: theme-color("primary") ;
      top: 0;
      right: -4em;
      border-top-left-radius: 1em;
      border-bottom-left-radius: 1em;
      z-index: 5;
      transition: width 0.3s ease;
    }
  }
}