.reference-card {
  display: flex;
  position: relative;
  background: darken($darkblue, 2%);
  min-height: 15em;
  width: 100%;
  height: auto;

  &:hover {
    text-decoration: none;

    .reference-card-title {
      background: transparentize($white, 0.2);
    }
  }

  .reference-card-title {
    position: relative;
    margin: 15% 0 auto;
    padding: 0.25em 1em 0.3em 0.5em;
    z-index: 10;
    background: $white;
    text-decoration: none;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: background 0.2s ease;
    max-width: 80%;
  }

  .reference-card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}