<footer class="site-footer">
  <div class="container-fluid px-4">
    <div class="row">
      <div class="col-md-4">
        <h2>Nous trouver</h2>
        <p>
          Chemin du Publoz 11<br/>
          Savigny
        </p>
        <p>
          Av. Wiliam-Fraisse 11<br/>
          Lausanne
        </p>
        <p>
          Le Lignon<br/>
          Genève
        </p>
      </div>
      <div class="col-md-4">
        <h2>Nous contacter</h2>
        <p>
          <a href="tel:+41 21 644 37 77">+41 21 644 37 77</a><br/>
          <a href="mailto:h2o@hschumacher.ch">h2o@hschumacher.ch</a>
        </p>
      </div>
      <div class="col-md-4">
        [logos]
      </div>
    </div>
  </div>
</footer>
